@media (max-width: 375px) {
  body {
    height: auto;
    font-size: 12px;
  }
  .article-preview-container {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 2fr;
    width: 80%;
    height: 100%;
    margin: 50px 0;
  }
  .article-image {
    border-radius: 10px 10px 0 0;
  }
  .article-info {
    border-radius: 0 0 10px 10px;
    padding: 25px;
  }
  h2 {
    font-size: 17px;
    letter-spacing: 0.3;
  }
  .author-box {
    padding: 0.7em 0 0;
  }
  .author-detail {
    margin-left: 1em;
  }
  .bubble {
    display: none;
  }
  .bubble-mobile {
    display: block;
    position: absolute;
    z-index: 99;
    bottom: 0;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .share-active {
    display: none;
  }
  .share-active-mobile {
    display: flex;
    width: 70%;
    margin: 10px 0 10px 35px;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
  }
  .social-icons-mobile {
    margin: 0 1em;
  }
  .social-icons-mobile a {
    margin: 0 0.4em;
  }
  .share-active-mobile p {
    letter-spacing: 0.3em;
    font-size: 15px;
    color: var(--grayish-blue);
  }
  .triangle {
    display: none;
  }
  .share-button {
    z-index: 999;
    margin-top: 20px;
  }
}
